@import url('https://fonts.google.com/specimen/Roboto+Flex?query=Roboto');

body {
  font-family: 'Roboto', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
/*++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++ MENU LATERAL ++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++*/

.sidebar {
  position: fixed;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #042331;
  transition: all .5s ease;
}

.sidebar header {
  height: 78px;
  color: #80049c;
  background: #063146;
  user-select: none;
  background-image: url("../assets/images/BusCelesteDiv_192x192.png");
  background-size: 250px 78px;
  background-repeat: no-repeat;
  background-position: center;
  backdrop-filter: blur(10px);
  -webkit-mask-image: linear-gradient(to right, rgba(100, 66, 42, 0), rgb(64, 58, 58));
}

.sidebar ul a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 45px;
  font-size: 18px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-top: 2px solid rgba(255, 255, 255, .1);
  border-bottom: 1px solid white;
}

.sidebar ul li:hover a {
  padding-left: 50px;
}

.sidebar ul a i {
  margin-right: 16px;
}

#check {
  display: none;
}

label #btn,
label #cancel {
  position: absolute;
  cursor: pointer;
  background: #042331;
  border-radius: 3px;
}

label #btn {
  left: 40px;
  top: 45px;
  font-size: 35px;
  color: white;
  padding: 6px 12px;
  transition: all .5s;
}

label #cancel {
  z-index: 11;
  left: -195px;
  top: 17px;
  font-size: 30px;
  color: #0a5275;
  padding: 4px 9px;
  transition: all .5s ease;
}

#check:checked ~ .sidebar{
  left: 0;
}

#check:checked ~ label #btn{
  left: 250px;
  opacity: 0;
  pointer-events: none;
}


#check:checked ~ label #cancel{
  left: 195px
}

#check:checked ~ .main_content{
margin-left: 250px;
}

/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/
/*--------- Redes Soc ---------*/
/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/

.social_media {
  background-color: rgb(170, 206, 163);
  position: fixed;
  font-size: 25px;
  font-weight: bolder;
  bottom: 5px;
  width: inherit;
}
.social_media a{
  padding-right: 10%;
}

.social_media a:first-child{
  margin-left: 15%;
}


/*++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++ MAIN CONTENT ++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++*/

.main_content{
transition: all .5s;
}

/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/
/*---------- HEADER -----------*/
/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 30px;
  width: 97.2%;
  border-bottom: 1px solid #e0e4e8;
}

/*------------*/
/*--- MENU_H ---*/
/*------------*/

.Menu {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  padding-inline: 15px;
}

.Menu ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  border: 2px solid black;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  position: relative;

}

.Menu ul li{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}

.Menu ul li:not(:first-child) {
  margin-left: 30px; /* Agrega un margen izquierdo de 15px a todos los elementos, excepto al primero */
}

.Menu ul li:last-child {
  margin-right: 0; /* Elimina el margen derecho del último elemento */
}

.Menu ul li a {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  color: blue;
  text-align: center;
  overflow: hidden;
  max-width: auto;
}

.Menu .fa{
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.main_content .header .control-icon{
  color: white;
}


/*+-+-+-+-+-+-+-+-+-+-+-+*/
/*------ CONTENIDO ------*/
/*+-+-+-+-+-+-+-+-+-+-+-+*/

.info .Contenido{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid black;
  padding: 0;
  height: 100%;
  width: auto;
}



