@import url('https://fonts.google.com/specimen/Roboto+Flex?query=Roboto');

body {
  font-family: 'Roboto', sans-serif;
  min-width: 550px;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

.header .control-icon{
  margin-left: 100px;
}

/*++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++ MENU LATERAL ++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++*/

.sidebar {
  position: fixed;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #042331;
  transition: all .5s ease;
}

.sidebar header {
  height: 78px;
  background: #063146;
  user-select: none;
  background-image: url("../assets/images/BusCelesteDiv_192x192.png");
  background-size: 250px 78px;
  background-repeat: no-repeat;
  background-position: center;
  backdrop-filter: blur(100px);
}

.sidebar ul a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 45px;
  font-size: 18px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-top: 2px solid rgba(255, 255, 255, .1);
  border-bottom: 1px solid white;
}

.sidebar ul li:hover a {
  padding-left: 50px;
}

.sidebar ul a i {
  margin-right: 16px;
}

#check {
  display: none;
}

label #btn,
label #cancel {
  position: absolute;
  cursor: pointer;
  background: #042331;
  border-radius: 3px;
}

label #btn {
  left: 40px;
  top: 45px;
  font-size: 35px;
  color: white;
  padding: 6px 12px;
  transition: all .5s;
}

label #cancel {
  z-index: 11;
  left: -195px;
  top: 17px;
  font-size: 30px;
  color: #0a5275;
  padding: 4px 9px;
  transition: all .5s ease;
}

#check:checked~.sidebar {
  left: 0;
}

#check:checked~label #btn {
  left: 250px;
  opacity: 0;
  pointer-events: none;
}


#check:checked~label #cancel {
  left: 195px
}

#check:checked~.main_content {
  margin-left: 250px;
}

/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/
/*--------- Redes Soc ---------*/
/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/

.social_media {
  background-color: rgb(170, 206, 163);
  position: fixed;
  font-size: 25px;
  font-weight: bolder;
  bottom: 5px;
  width: inherit;
}

.social_media a {
  padding-right: 10%;
}

.social_media a:first-child {
  margin-left: 15%;
}


/*++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++ MAIN CONTENT ++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++*/

.main_content {
  transition: all .5s;
}

/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/
/*---------- HEADER -----------*/
/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px 30px;
  width: 97.2%;
  border-bottom: 1px solid #e0e4e8;
}


/*------------*/
/*--LogoTexto_H--*/
/*------------*/
.LogoyTexto {
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 2;
}

.Logo {
  padding-right: 10px;
}

.Texto {
  text-align: left;
  padding-top: 10px;
}


/*------------*/
/*--- MENU_H ---*/
/*------------*/

.Menu {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  padding-inline: 15px;
}

.Menu ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  border: 2px solid black;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  position: relative;

}

.Menu ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}

.Menu ul li:not(:first-child) {
  margin-left: 30px;
  /* Agrega un margen izquierdo de 15px a todos los elementos, excepto al primero */
}

.Menu ul li:last-child {
  margin-right: 0;
  /* Elimina el margen derecho del último elemento */
}

.Menu ul li a {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  color: blue;
  text-align: center;
  max-width: auto;
}

.Menu .fa {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.main_content .header .control-icon {
  color: white;
}


/*+-+-+-+-+-+-+-+-+-+-+-+*/
/*------ CONTENIDO ------*/
/*+-+-+-+-+-+-+-+-+-+-+-+*/

.info .Contenido {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid black;
  padding: 0;
  height: 100%;
  width: auto;
}

/*++++++++++++++++++++++++++++++++++++++++++++*/
/*+++++++++++++++ RESPONSIVE +++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++*/

@media (max-width: 1000px) {

  label #btn {
    left: 20px;
    font-size: 25px;
    transition: all .5s;
  }

  .header {
    padding: 25px 30px;
    width: 90%;
    border-bottom: 1px solid #e0e4e8;
  }

  .header .control-icon{
    margin-left: 30px;
    transition: all 1s;
  }

  .Texto{
    margin-top: -10px;
  }

  .Texto h1 {
    text-align: left;
    font-size: 25px;
    transition: all 1s;
  }

  .Texto p {
    text-align: left;
    font-size: 14px;
    transition: all 1s;
  }

  .Menu {
    padding-inline: 5px;
    margin-right: 5px;
    justify-content: space-between;
  }

  .Menu ul{
    justify-content: space-between;

  }

  .Menu ul li {
    margin-right: 5px;
    transition: all 1s;
  }
  
  .Menu ul li:not(:first-child) {
    margin-left: 18px;
    /* Agrega un margen izquierdo de 15px a todos los elementos, excepto al primero */
  }
  
  .Menu ul li:last-child {
    margin-right: 0;
    /* Elimina el margen derecho del último elemento */
  }

  .Menu ul li > a {
    font-weight: 0px;
    font-size-adjust: 0px;
    font-size: 0px;
    max-width: 100%;
    transition: all 0.8s;
  }

  .Menu ul li a i{
    font-size: 20px;
    color: blue;
  }

}