@import url('https://fonts.google.com/specimen/Roboto+Flex?query=Roboto');

body {
  font-family: 'Roboto', sans-serif;
  min-width: 650px;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

.header .control-icon {
  margin-left: 50px;
}

/*++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++ MENU LATERAL ++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++*/

.sidebar {
  position: fixed;
  left: -25%;
  width: 25%;
  min-width: 300px;
  height: 100%;
  background: #042331;
  transition: all .5s ease;
}

.sidebar .Headerimage {
  /* Poner en 150px la altura*/
  height: 100px;
  background: #063146;
  user-select: none;
  background-image: url("../assets/images/BusCelesteDiv_192x192.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  backdrop-filter: blur(100px);
}

.sidebar ul a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 45px;
  font-size: 18px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-top: 2px solid rgba(255, 255, 255, .1);
  border-bottom: 1px solid white;
}

.sidebar ul li:hover a {
  padding-left: 50px;
}

.sidebar ul a i {
  margin-right: 16px;
}

#check {
  display: none;
}

label #btn,
label #cancel {
  position: absolute;
  cursor: pointer;
  background: #042331;
  border-radius: 3px;
}

label #btn {
  left: 23px;
  top: 45px;
  font-size: 35px;
  color: white;
  padding: 6px 12px;
  transition: all .5s;
}

label #cancel {
  z-index: 11;
  left: -195px;
  top: 17px;
  font-size: 30px;
  color: #0a5275;
  padding: 4px 9px;
  transition: all .5s ease;
}

#check:checked~.sidebar {
  left: 0;
}

#check:checked~label #btn {
  left: 25%;
  opacity: 0;
  pointer-events: none;
}

#check:checked~label #cancel {
  left: 21%;
}

#check:checked~.main_content {
  margin-left: 25%;
}

/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/
/*----- Submenu Laterales -----*/
/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/

/*+-+-+-+-+-+-+-+-+-+-+-+*/
/*----- Direcciones -----*/
/*+-+-+-+-+-+-+-+-+-+-+-+*/

.list {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: left;
}

/*CHIVA POR AQUI*/
/*-+-+//*-+-*+/*/
.list__item {
  width: 100%;
  overflow: hidden;
}

.list__item--click a {
  cursor: pointer;
}

.list__button {
  display: flex;
  gap: 0.5em;
  width: 100%;
  margin-left: -10px;
}

.Submenu__Direcciones {
  display: none;
  background-color: rgb(20, 99, 121);
  transition: all 0.9s ease;
}

#flechaDerecha {
  transition: transform 0.5s ease;
}

.Selec_Puntos {
  display: flex;
  flex-direction: column;
  padding: 15px 10px 0px 10px;
}

.Selec_Puntos input {
  margin-bottom: 10px;
  line-height: 20px;
}

.Selec_Puntos #btn-Buscar {
  width: 75px;
  margin-bottom: 5px;
  align-self: flex-end;
  margin-right: 10px;
  text-align: center;
  border-color: aqua;
  border-radius: 10%;
  background-color: #1979a9;
  color: white;
  box-shadow: #e0e4e8;
}

.Submenu__Direcciones .iconoYboton {
  border-bottom: 3px solid rgb(103, 58, 2);

}

.Submenu__Direcciones .iconoYboton i {
  color: aqua;
  padding: 0 10px;
  font-size: 20px;
  cursor: auto;
}

.Submenu__Direcciones .iconoYboton #btn-ubicacionActual {
  width: 81%;
  margin-bottom: 5px;
  align-self: flex-end;
  margin-right: 10px;
  text-align: center;
  border-color: aqua;
  background-color: #1979a9;
  color: white;
  box-shadow: #e0e4e8;
  cursor: pointer;
}

.textoYRecientes {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
}

.textoYRecientes #span1 {
  display: block;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-weight: bolder;
  background-color: rgb(199, 197, 197);
  margin-bottom: 7px;
}

.Recientes {
  border-top: 3px solid rgb(106, 106, 106);
  padding-top: 5px;
  padding-bottom: 5px;
}

.textoYRecientes .HeaderReciente span,
.textoYRecientes .HeaderReciente span h3 {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: 10px;
  justify-content: 5px;
  text-align: center;
  line-height: 25px;
}

.Recientes .ContenidoReciente {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

/*+-+-+-+-+-+-+-+-+-+-+-+*/
/*----- Buscar Ruta -----*/
/*+-+-+-+-+-+-+-+-+-+-+-+*/

.submenuBuscar {
  display: none;
  max-height: 420px;
}

.submenuBuscar #txtBusqueda {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0px;
  background-color: rgb(20, 99, 121);
}

.submenuBuscar #txtBusqueda input {
  width: 80%;
  margin-top: 10px;
  margin-left: 10px;
  max-height: 25px;
}

.submenuBuscar #txtBusqueda a {
  width: 20px;
  padding: 0;
  margin-right: -50px;
  margin-left: 10px;
}


#Resultados #spanResult {
  display: none;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-weight: bolder;
  background-color: rgb(199, 197, 197);
  margin-bottom: 7px;
}

.PuntosRuta {
  background-color: white;
}

.DireccionBus .Opcion1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  line-height: 25px;
  align-content: flex-start;
  background-color: bisque;

}

.DireccionBus .Opcion1 .color {
  margin-top: 5px;
}

.DireccionBus .Opcion2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  line-height: 25px;
  align-content: flex-start;
  background-color: bisque;
  margin-bottom: 10px;
}

.DireccionBus .Opcion2 .color {
  margin-top: 5px;
}

#Resultados {
  max-height: 370px;
}

.TodasLasParadas {
  max-height: 400px;
  overflow-y: scroll;
}

.PuntosRuta {
  display: flex;
  flex-direction: row;
  background-color: white;
  margin-right: 5px;
  margin-left: 5px;
  max-height: 400px;
  margin-bottom: 10px;
}

.PuntosRuta .Parada {
  display: flex;
  background-color: white;
  margin-left: 10px;
  padding-top: 20px;
  border-right: gray 2px solid;
  width: 65%;
  max-height: fit-content;
  cursor: pointer;
}

.PuntosRuta .ProxBus {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  text-align: center;
  margin-right: 0;
  height: 60px;
}

/*+-+-+-+-+-+-+-+-+-+-+-+*/
/*------- Alarmas -------*/
/*+-+-+-+-+-+-+-+-+-+-+-+*/

.submenuAlarmas .New {
  background-color: gainsboro;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 8px;
  cursor: pointer;
}

.New span i {
  font-size: 25px;
}

.New span strong {
  margin-left: 30px;
  font-size: 25px;
}

/*----------------*/
/*+++Formulario+++*/
/*----------------*/

.popup-form {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: fit-content;
  background: white;
  border: 1px solid black;
  padding: 20px;
  /* Agregamos el estilo de cursor para indicar que es arrastrable */
  z-index: 10;
}

.popup-form .CabeceraForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -20px;
  background-color: #97dafc;
  margin-left: -20px;
  margin-right: -20px;
  padding-top: 3px;
  padding-bottom: 2px;
  padding-left: 10px;
  cursor: move;
  z-index: 100;
}

.CabeceraForm button {
  margin-left: 330px;
  background-color: #97dafc;
  width: 20px;
}

.popup-form button {
  margin-right: 3px;
}

.contenedorAlarma {
  background-color: aliceblue;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: -20px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}

.contenedorAlarma .RutaAbout {
  border: #0a5275 1px solid;
  padding-left: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.contenedorAlarma .selector {
  margin-top: 8px;
  margin-bottom: 10px;
}

.contenedorAlarma .DeA {
  margin-top: 8px;
  margin-bottom: 10px;
}

.contenedorAlarma .DeA #TerminalI {
  margin-right: 15px;
}

.contenedorAlarma .CualParada {
  margin-top: 8px;
  margin-bottom: 8px;
}

.AlarmAbout {
  margin-top: 15px;
  border: #0a5275 1px solid;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 45px;
  padding-left: 5px;
}

.AlarmAbout .Horas {
  margin-top: 8px;
  margin-bottom: 10px;
}

.AlarmAbout #AmPm {
  margin-right: 15px;
}

.AlarmAbout .Sonar .Antes {
  margin-bottom: 10px;
}

.AlarmAbout .Sonar .Tono {
  margin-bottom: 10px;
}

.contenedorAlarma .Botones{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.contenedorAlarma .Botones :first-child{
  margin-right: 20px;
}

.contenedorAlarma .Botones button{
  width: 75px;
  height: 25px;
  background-color: #97dafc;
}


/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/
/*----------- Footer ----------*/
/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/

/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/
/*--------- Redes Soc ---------*/
/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/

.social_media {
  background-color: rgb(170, 206, 163);
  position: absolute;
  font-size: 25px;
  font-weight: bolder;
  bottom: 5px;
  width: 100%;
  min-width: 250px;
}

.social_media a {
  padding-right: 10%;
}

.social_media a:first-child {
  margin-left: 15%;
}


/*++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++ MAIN CONTENT ++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++*/

.main_content {
  transition: all .5s;
}

/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/
/*---------- HEADER -----------*/
/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px;
  padding-right: 30px;
  padding-left: 10px;
  width: 98%;
  border-bottom: 1px solid #e0e4e8;
}


/*------------*/
/*--LogoTexto_H--*/
/*------------*/
.LogoyTexto {
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 2;

}

.Logo {
  padding-right: 10px;
  width: fit-content;
  height: fit-content;
}

.Texto {
  text-align: left;
  padding-top: 10px;
}


/*------------*/
/*--- MENU_H ---*/
/*------------*/

.Menu {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  padding-inline: 15px;
  position: relative;
  /*Aqui est no estaba*/
}

.Menu ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  position: relative;

}

.Menu ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}

.Menu ul li:not(:first-child) {
  margin-left: 30px;
  /* Agrega un margen izquierdo de 15px a todos los elementos, excepto al primero */
}

.Menu ul li:last-child {
  margin-right: 0;
  /* Elimina el margen derecho del último elemento */
}

.Menu ul li a {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  color: blue;
  text-align: center;
  max-width: auto;
}

.Menu .fa {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.main_content .header .control-icon {
  color: white;
}

/*----------------------------*/
/*---------- SubMenus --------*/
/*----------------------------*/


/*++++++++++++++++++++++*/
/*+++ Submenu_Cuenta +++*/
/*++++++++++++++++++++++*/

.Menu .Submenu_Cuenta {
  top: 95%;
  display: flex;
  flex-direction: row;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
  width: auto;
  height: auto;
  text-align: left;
  z-index: 2;
}

/*++++++++++++++*/
/*Submenu_History*/
/*++++++++++++++*/

.Menu .SubMenu_History {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  left: 80%;
  top: 116%;
  width: max-content;
  height: auto;
  padding: 10px;
  align-items: flex-start;
  justify-content: left;
  line-height: 30px;
  z-index: 2;
}

.Menu .SubMenu_History li {
  line-height: 30px;
}

.Menu .SubMenu_History li a {
  display: inline-block;
  text-align: left;
  line-height: 20px;
}

.Menu .SubMenu_History li:last-child {
  margin-left: auto;
  padding-top: 10px;
}

/*++++++++++++++++++++++*/
/*++ Submenu_AcercaDe ++*/
/*++++++++++++++++++++++*/

.Menu .Submenu_AcercaDe {
  top: 95%;
  display: flex;
  flex-direction: row;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
  width: auto;
  height: auto;
  text-align: left;
  z-index: 2;
}

/*++++++++++++++++++++++*/
/*+++ Submenu_Ayuda ++++*/
/*++++++++++++++++++++++*/

.Menu .Submenu_Ayuda {
  top: 95%;
  display: flex;
  flex-direction: row;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
  width: auto;
  height: auto;
  text-align: left;
  z-index: 2;
}

/*++++++++++++++*/
/*Submenu_Comentanos*/
/*++++++++++++++*/

.Menu .Submenu_Comentanos {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  left: -4%;
  top: 116%;
  width: max-content;
  height: auto;
  padding: 10px;
  align-items: flex-start;
  justify-content: left;
  line-height: 30px;
  z-index: 2;
}

.Menu .Submenu_Comentarios li {
  line-height: 30px;
}

.Menu .Submenu_Comentarios li a {
  display: inline-block;
  text-align: left;
  line-height: 20px;
}

.Menu .Submenu_Comentarios li:last-child {
  margin-left: auto;
  padding-top: 10px;
}

/*++++++++++++++*/
/*Submenu_Reportar*/
/*++++++++++++++*/
.Menu .Submenu_ReportarProblemas {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  left: 40%;
  top: 116%;
  width: max-content;
  height: auto;
  padding: 10px;
  align-items: flex-start;
  justify-content: center;
  line-height: 30px;
  z-index: 2;
}

.Menu .Submenu_ReportarProblemas li {
  line-height: 30px;
}

.Menu .Submenu_ReportarProblemas li a {
  display: inline-block;
  text-align: left;
  line-height: 20px;
}

.Menu .Submenu_ReportarProblemas li:last-child {
  margin-left: auto;
  padding-top: 10px;
}

/*++++++++++++++*/
/*Submenu_Tutoriales*/
/*++++++++++++++*/

.Menu .Submenu_Tutoriales {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  left: 80%;
  top: 116%;
  width: max-content;
  height: auto;
  padding: 10px;
  align-items: flex-start;
  justify-content: left;
  line-height: 30px;
  z-index: 2;
}

.Menu .Submenu_Tutoriales li {
  line-height: 30px;
}

.Menu .Submenu_Tutoriales li a {
  display: inline-block;
  text-align: left;
  line-height: 20px;
}

.Menu .Submenu_Tutoriales li:last-child {
  margin-left: 0;
  padding-top: 10px;
}

/*+-+-+-+-+-+-+-+-+-+-+-+*/
/*------ CONTENIDO ------*/
/*+-+-+-+-+-+-+-+-+-+-+-+*/
 #Mapa {
  
  width: 100%;
  height: 100%;
  width: auto;
  position: relative;
  width: 100%;
  height: 80vh;
  z-index: 0;
}

/*++++++++++++++++++++++++++++++++++++++++++++*/
/*+++++++++++++++ RESPONSIVE +++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++*/

@media (max-width: 1000px) {

  label #btn {
    left: 20px;
    font-size: 25px;
    transition: all .5s;
  }

  .sidebar {

    left: -31%;

  }

  #check:checked~.main_content {
    margin-left: 31%;
  }

  .header {
    padding: 25px 30px;
    width: 95%;
    border-bottom: 1px solid #e0e4e8;
  }

  .header .control-icon {
    margin-left: 30px;
    transition: all 1s;
  }

  .Texto {
    margin-top: -10px;
  }

  .Texto h1 {
    text-align: left;
    font-size: 25px;
    transition: all 1s;
  }

  .Texto p {
    text-align: left;
    font-size: 14px;
    transition: all 1s;
  }

  .Menu {
    padding-inline: 5px;
    margin-right: 5px;
    justify-content: space-between;
  }

  .Menu ul {
    justify-content: space-between;

  }

  .Menu ul li {
    margin-right: 5px;
    transition: all 1s;
  }

  .Menu ul li:not(:first-child) {
    margin-left: 18px;
    /* Agrega un margen izquierdo de 15px a todos los elementos, excepto al primero */
  }

  .Menu ul li:last-child {
    margin-right: 0;
    /* Elimina el margen derecho del último elemento */
  }

  .Menu ul li>a {
    font-weight: 0px;
    font-size-adjust: 0px;
    font-size: 0px;
    max-width: 100%;
    transition: all 0.8s;
  }

  .Menu ul li a i {
    font-size: 20px;
    color: blue;
  }

  .Menu .Submenu_Cuenta {
    top: 90%;
  }

  .Menu .SubMenu_History {

    top: 130%;

  }
}